<!DOCTYPE HTML>
<html>
	<head>
		<title>Instagram</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<span class="avatar"><img src="{{url_for('static',filename='images/avatar.jpg')}}" alt="" /></span>

             <body>
            	<h1> {{bio}}</h1>
        	   </body>

            <br>
            <!-- About me button -->
            <a href="#"><button style="color:white;width:40%" >More about me</button></a>
            <!--  -->
            <br> <br>
						<ul class="icons">
							<li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon style2 fa-500px"><span class="label">500px</span></a></li>
							<li><a href="#" class="icon style2 fa-envelope-o"><span class="label">Email</span></a></li>
						</ul>
					</header>

				<!-- Main -->
					<section id="main">

						<!-- Thumbnails -->
							<section class="thumbnails">
                
                <div>
                  
                
                      <a href="">
                        <img src="{{image}}" alt="" />
                        <h3>MMEEEEEETTTTTTTT!!!</h3>
                      </a>
                </div>    
                <ul>
									{%for post in posts %}
									<li><img src= "{{post}}"/></li>
									{% endfor %}
								</ul>
                <div>

                        <img src="https://imageio.forbes.com/blogs-images/samarmarwan/files/2018/03/MEET-Students-1200x800.jpg" alt="" />
                        <h3>group project<3</h3>
                        <img src="https://uploads-ssl.webflow.com/5dd64bd3a930f96c82bd137a/63024ce64d943673cb004a4c_2022.07.17%20-%20Summer%20Day%201.png" alt="" />
                        <h3>MEET SUMMER!</h3>
                        <img src="https://uploads-ssl.webflow.com/5dd64bd3a930f9d04abd1363/5de6d502d6d70c0ad49a060c_6.jpg" alt="" />
                        <h3>#MEET_du</h3>
                        <img src="https://global-uploads.webflow.com/5fe28feebcae602620061802/5fe5401840671a36cd1d47d5_5de6d5024dd1a74670173aed_1-p-1080.jpeg" alt="" />
                        <h3>our lovely TA's</h3>

                      </a>
                </div>  

							</section>

					</section>

				<!-- Footer -->
					<footer id="footer">
						<p>&copy; MEET's (fake) Instagram. No rights reserved. 
					</footer>obal-

			</div>																											
			<div>
			<ul>
				{%for post in posts: %}
				<li>{{post}}</li>
				{% endfor %}
			</ul>
		</div>


	</body>
</html>